<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />

<title>Επικοινωνία</title>
    <meta name="description" content="Project PAP - Επικοινωνία" />
    <meta name="keywords" content="Project PAP, Επικοινωνία" />
    <link rel="canonical" href="https://www.projectpap.gq/contact" />

    <link href="https://www.hellenicseaways.gr/contact" rel="alternate" hreflang="el-GR" />
    <link href="https://www.hellenicseaways.gr/en-gb/contact" rel="alternate" hreflang="en-GB" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External Head Opening Scripts -->

<meta property="og:site_name" content="Project PAP" />
<meta property="og:title" content="Επικοινωνία" />
<meta property="og:url" content="https://www.projectpap.gq/contact" />
    <meta property="og:image" content="../Project_PAP_logo.png" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Project PAP">
<meta name="twitter:title" content="Επικοινωνία">
<meta name="twitter:url" content="https://www.projectpap.gq/contact">
    <meta name="twitter:image" content="../Project_PAP_logo.png">

<link rel="apple-touch-icon" sizes="144x144" href="../Project_PAP_logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="../Project_PAP_logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="../Project_PAP_logo.png">
<link rel="manifest" href="/imgs/favicons/hellenic/site.webmanifest">
<link rel="mask-icon" href="/imgs/favicons/hellenic/safari-pinned-tab.svg" color="#0D0F41">
<meta name="msapplication-TileColor" content="#0D0F41">
<meta name="theme-color" content="#0D0F41">


    <!-- Head Assets References -->
    <link href="/css/upfold.min.css?t=126568572" rel="stylesheet" type="text/css" />
    <link href="/css/main.min.css?t=126568572" rel="stylesheet" type="text/css" />
    <link href="/css/vendors.min.css?t=126568572" rel="stylesheet" type="text/css" />
    <link href="/fonts/icons/styles.css?t=126568572" rel="stylesheet" type="text/css" />

    <script>var jsCallbacks = []; function docReady(callback) { jsCallbacks.push(callback); }</script>

    <!-- External Head Closing Scripts -->

</head>
<body data-app="true" data-theme="hellenic" class="theme-hellenic">
    <!-- External Body Opening Scripts -->

    <!-- Header -->


	<div class="s-alert-wrap">
			<div class="s-alert s-alert--important">
				<div class="page-container">
					<div class="s-alert__main">
						<div class="txt">
							<p>Αυτός ο ιστότοπος βρίσκεται υπό κατασκευή!</p>

						</div>
					</div>
				</div>
			</div>
			</div>

<header class="header">
	<div class="page-container">
		<div class="header__cont">
			<div class="header__row">
				<div class="header__col header__col--logo">
					<div class="header__logo">
						<a href="/">
							<img alt="Project PAP" src="../img/logo/Project_PAP_logo.png" />
						</a>
					</div>
				</div>
				<div class="header__col header__col--nav">
					<nav class="header__nav">
							<ul class="header__nav__list">

									<li class="header__nav__list__item header__submenu-col">
										<a href="javascript:void(0)" class="header__submenu-link" id="submenu-link-1047">Project PAP</a>
											<div class="header__submenu" aria-labelledby="submenu-link-1047">
												<ul class="header__submenu__cont">
														<li>
															<a href="/">Αρχική</a>
														</li>
														<li>
															<a href="/aboutus">Σχετικά με Εμάς</a>
														</li>
												</ul>
											</div>
									</li>
									<li class="header__nav__list__item header__submenu-col">
										<a href="javascript:void(0)" class="header__submenu-link" id="submenu-link-1051">Περιεχόμενο</a>
											<div class="header__submenu" aria-labelledby="submenu-link-1051">
												<ul class="header__submenu__cont">
														<li>
															<a href="/odontotos">Οδοντωτός</a>
														</li>
														<li>
															<a href="/busride">Βόλτα με λεωφορεία</a>
														</li>
														<li>
															<a href="/ships">Πλοία</a>
														</li>
														<li>
															<a href="/gaming">Βίντεο από Video Games</a>
														</li>
												</ul>
											</div>
									</li>
									<li class="header__nav__list__item header__submenu-col">
										<a href="javascript:void(0)" class="header__submenu-link" id="submenu-link-1054">Social Wall</a>
											<div class="header__submenu" aria-labelledby="submenu-link-1054">
												<ul class="header__submenu__cont">
														<li>
															<a href="/facebook">Ενσωματώσεις από Facebook</a>
														</li>
														<li>
															<a href="/instagram">Ενσωματώσεις από Instagram</a>
														</li>
														<li>
															<a href="/twitter">Ενσωματώσεις από Twitter</a>
														</li>
												</ul>
											</div>
									</li>
							</ul>
					</nav>
				</div>

				<div class="header__col header__col--burger">
					<a href="javascript:void(0)" class="header__burger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>

				<div class="header__col header__col--tools">
                    <div class="header__tools">
                        <div class="header__tools__item header__tools__item--mini-menu header__submenu-col">
                            <a href="javascript:void(0)" class="header__tools__mini-menu-link header__submenu-link" id="submenu-link-mini-menu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <div class="header__submenu" aria-labelledby="submenu-link-mini-menu">
                                <ul class="header__submenu__cont">
                                        <!--<li>
                                            <a href="/el-gr/seasmiles">seasmiles</a>
                                        </li>
                                                                            <li>
                                            <a href="tel:+30 210 89 19 800">+30 210 89 19 800</a>
                                        </li>
                                                                            <li>
                                            <a href="/el-gr/retrieve-booking">Εύρεση Κράτησης</a>
                                        </li>
                                                                            <li class="d-lg-none">
                                            <a href="https://eticket.attica-group.com/?lang=el" target="_blank">Web Check-in </a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                            <!--<div class="header__tools__item header__tools__item--seasmiles">
                                <a href="/el-gr/seasmiles">seasmiles</a>
                            </div>-->
                                                    <div class="header__tools__item header__tools__item--phone">
                                <a href="/contact" title="Επικοινωνία" class="header__tools__icon header__tools__phone tooltip"></a>
                            </div>
                                                    <!--<div class="header__tools__item header__tools__item--search">
                                <a href="javascript:void(0)" title="Αναζήτηση" class="header__tools__icon header__tools__search tooltip"></a>
                            </div>
                                                    <div class="header__tools__item header__tools__item--reservations">
                                <a href="/el-gr/retrieve-booking" title="Εύρεση Κράτησης" class="header__tools__icon header__tools__reservations tooltip"></a>
                            </div>
                                                    <div class="header__tools__item d-none d-md-none d-lg-block">
                                <a href="https://eticket.attica-group.com/?lang=el" class="btn btn--ghost btn--white" target="_blank">
                                    <span>Web Check-in </span>
                                </a>
                            </div>-->

                        <div class="header__tools__item">
                            <a href="/live" class="btn btn--ghost btn--white go-to-booking-href" data-offset-y="100">
                                <span>Live</span>
                            </a>
                        </div>
                    </div>
				</div>
				<div class="header__col header__col--lang">
					<div class="header__lang header__submenu-col">
									<!--<a href="/en-gb/contact" title="English Language" id="submenu-link-lang">EN</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- SEARCH:START -->
		<!--<div class="header__search">
			<div class="page-container">
				<div class="header__search__cont">
					<form class="header__search__form f-search-box" data-searchurl="/el-gr/search-results">
						<label for="site-search">ΑΝΑΖΗΤΗΣΗ</label>
						<div class="form-control input-stripped">
							<input type="text" id="site-search" placeholder="Πληκτρολογήστε εδώ" maxlength="50" />
							<button type="submit"></button>
						</div>
					</form>
					<a href="javascript:void(0)" class="header__search__close"></a>
				</div>
			</div>
		</div>-->
		<!-- SEARCH:END -->

	<!-- MOBILE MENU: START -->
	<div class="header__mob-menu">
		<div class="header__mob-menu__ins">
			<nav class="header__mob-menu__nav">
					<div class="header__mob-menu__cont">
							<div class="header__mob-menu__nav__item">
								<div class="header__mob-menu__nav__item__head">
									<span>Project PAP</span>
								</div>
									<div class="header__mob-menu__nav__item__body">
										<ul class="header__mob-menu__nav__item__submenu">
												<li>
													<a href="/">Αρχική</a>
												</li>
												<li>
													<a href="/aboutus">Σχετικά με Εμάς</a>
												</li>
										</ul>
									</div>
							</div>
							<div class="header__mob-menu__nav__item">
								<div class="header__mob-menu__nav__item__head">
									<span>Περιεχόμενο</span>
								</div>
									<div class="header__mob-menu__nav__item__body">
										<ul class="header__mob-menu__nav__item__submenu">
												<li>
													<a href="/odontotos">Οδοντωτός</a>
												</li>
												<li>
													<a href="/busride">Βόλτα με λεωφορεία</a>
												</li>
												<li>
													<a href="/ships">Πλοία</a>
												</li>
												<li>
													<a href="/gaming">Βίντεο από Video Games</a>
												</li>
										</ul>
									</div>
							</div>
							<div class="header__mob-menu__nav__item">
								<div class="header__mob-menu__nav__item__head">
									<span>Social Wall</span>
								</div>
									<div class="header__mob-menu__nav__item__body">
										<ul class="header__mob-menu__nav__item__submenu">
												<li>
													<a href="/facebook">Ενσωματώσεις από Facebook</a>
												</li>
												<li>
													<a href="/instagram">Ενσωματώσεις από Instagram</a>
												</li>
												<li>
													<a href="/twitter">Ενσωματώσεις από Twitter</a>
												</li>
										</ul>
									</div>
							</div>
					</div>
			</nav>
				<!--<div class="header__mob-menu__phone">
					<div class="header__mob-menu__cont header__mob-menu__phone__cont">
						<div>
							Καλέστε μας στο <a href="tel:+30 210 89 19 800">+30 210 89 19 800</a>
						</div>
					</div>
				</div>-->

			<div class="header__mob-menu__extras">
				<div class="header__mob-menu__cont header__mob-menu__extras__cont">
						<nav class="header__mob-menu__extras__links">
								<!--<div class="header__mob-menu__extras__links__item">
									<a href="/el-gr/seasmiles">seasmiles</a>
								</div>
															<div class="header__mob-menu__extras__links__item">
									<a href="/el-gr/retrieve-booking">Εύρεση Κράτησης</a>
								</div>-->
						</nav>
											<!--<div class="header__mob-menu__extras__checkin">
							<a href="https://eticket.attica-group.com/?lang=el"
							   class="btn btn--ghost btn--white"
							   target="_blank">
								<span>
									Web Check-in 
								</span>
							</a>
						</div>

						<div class="header__mob-menu__extras__search">
							<form class="f-search-box" data-searchurl="/el-gr/search-results">
								<div class="form-control">
									<input type="text" placeholder="Αναζήτηση" maxlength="50" />
									<button type="submit"></button>
								</div>
							</form>
						</div>-->
				</div>
			</div>
		</div>
	</div>
	<!-- MOBILE MENU: END -->

</header>

    <!-- Main -->
    


<section class="s-hero">
    <div class="page-outter">
        <div class="s-hero__body">
            <div class="s-hero__items">
                <!-- Item -->
                <div class="s-hero__item">
                    <div class="b-hero">
                        <div class="b-hero__photo resp-background"
                             data-src0="../img/banner/Project_PAP_Banner.jpg"
                             data-src768="../img/banner/Project_PAP_Banner.jpg">
                        </div>
                        <div class="b-hero__capture">
                            <div class="page-container">
                                <h1 class="heading">
                                        Επικοινωνία
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var imgResp = document.querySelectorAll('.resp-background');

    function setImgsResp() {
        for (var e = 0; e < imgResp.length; e++) {

            768 <= document.body.clientWidth
                ? imgResp[e].style.backgroundImage = 'url(' + imgResp[e].getAttribute("data-src768") + ')'
                : imgResp[e].style.backgroundImage = 'url(' + imgResp[e].getAttribute("data-src0") + ')'
        }
    }
    setImgsResp(), window.onresize = function (e) {
        setImgsResp()
    };
</script>

<main>

<div class="s-strip s-breadcrumb">
    <div class="page-container">
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/el-gr/" title="Αρχική">Αρχική</a></li>
                            <li class="breadcrumb-item active" aria-current="Επικοινωνία">Επικοινωνία</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

    <div id="v-contact" class="v-app" v-bind:class="{'is-mounted': isMounted, 'is-loading': isLoading}">
        <v-app>
            <!-- overlay -->
            <v-overlay :value="isLoading" color="rgba(0,0,0,0)">
                <v-progress-logo size="48"></v-progress-logo>
            </v-overlay>

            <div class="s-strip s-contact">
                <div class="e-decoration-1"></div>
                <div class="e-decoration-2"></div>
                <div class="e-decoration-4"></div>

                <div class="page-container">
                    <div class="page-inner">
                        <div class="s-contact__body">
                            <!-- address -->
                            <div class="s-contact__aside">
                                <div class="b-network clear">
                                    <div class="location">PROJECT PAP</div>
                                    <div class="details">
                                        <article>
                                            <p>
YouTube &amp; Trovo                                                        <br />
Ελληνικό κανάλι                                            </p>
                                            
                                                <!--<p>
                                                    Τηλ:
                                                        <a href="tel:2108919800" title="#">2108919800</a>
                                                        
                                                </p>

                                                <p>
                                                    Φαξ:
2108919829                                                        
                                                </p>

                                                <p>
                                                    e-mail: <a href="mailto:business@projectpap.gq" title="#">business@projectpap.gq</a>
                                                </p>-->
                                            
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- google map -->
                            <div class="s-contact__main">
                                <div class="s-contact__map-container">
                                    <!--<div class="s-contact__map" id="BranchGoogleMap"></div>-->
				    <iframe width="800" height="360" id="gmap_canvas" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCyEWimzSLLNGRjsug3ddkwsaCaN6DVz5E&q=Project=PAP" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </v-app>
    </div>
    <div id="v-network" class="v-app" v-bind:class="{'is-mounted': isMounted}">
        <v-app>
            <div class="s-strip s-network">
                <div class="page-container">
                    <div class="page-inner">
                        <div class="s-network__body">
                            <div class="s-network__main">
                                <div class="s-network__cat__items">
                                    <div class="s-network__cat__item">
                                        <div class="s-network__agency__items columns-two remove-padding">
                                                <div class="s-network__agency__item">
                                                    <div class="b-network">
                                                        <div class="location">ΓΙΑ ΠΛΗΡΟΦΟΡΙΕΣ</div>
                                                        <div class="details">
                                                            <ul>
                                                                <li>
                                                                        <!--<div class="extra">
                                                                            <p>Kαθημερινά 08:00 - 22:00</p>

<p>&nbsp;</p>

                                                                        </div>
                                                                                                                                            <span>
Τηλ:
                                                                                    <a href="tel:210 89 19 800" title="#">210 89 19 800</a>,
                                                                            Φαξ:
210 89 19 938
                                                                        </span>-->

                                                                        <span>e-mail: <a href="info@projectpap.gq" title="Ρωτήστε μας ότι θέλετε">info@projectpap.gq</a></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="s-network__agency__item">
                                                    <div class="b-network">
                                                        <div class="location">ΤΜΗΜΑ ΥΠΟΣΤΗΡΙΞΗΣ ΕΠΙΣΚΕΠΤΩΝ</div>
                                                        <div class="details">
                                                            <ul>
                                                                <li>
                                                                        <!--<div class="extra">
                                                                            <p>Δευτέρα έως Παρασκευή 09:00-20:00,<br />
εκτός επίσημων αργιών.</p>

                                                                        </div>
                                                                                                                                            <span>
Τηλ:
                                                                                    <a href="tel:210 89 19 010" title="#">210 89 19 010</a>,
                                                                            Φαξ:
210 89 19 019
                                                                        </span>-->

                                                                        <span>e-mail: <a href="mailto:helpdesk@projectpap.gq" title="Έχετε θέμα με την λειτουργία του ιστοτόπου; Η ομάδα μας είναι εδώ για εσάς!">helpdesk@projectpap.gq</a></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
						<div class="s-network__agency__item">
                                                    <div class="b-network">
                                                        <div class="location">ΤΜΗΜΑ ΓΙΑ ΝΑ ΚΛΕΙΣΕΤΕ ΜΙΑ ΔΟΥΛΕΙΑ ΜΕ ΤΟ ΚΑΝΑΛΙ (ΑΝ ΘΕΛΕΤΕ)</div>
                                                        <div class="details">
                                                            <ul>
                                                                <li>
                                                                        <!--<div class="extra">
                                                                            <p>Δευτέρα έως Παρασκευή 09:00-20:00,<br />
εκτός επίσημων αργιών.</p>

                                                                        </div>
                                                                                                                                            <span>
Τηλ:
                                                                                    <a href="tel:210 89 19 010" title="#">210 89 19 010</a>,
                                                                            Φαξ:
210 89 19 019
                                                                        </span>-->

                                                                        <span>e-mail: <a href="mailto:business@projectpap.gq" title="Θέλετε να συνεργαστούμε; Περιμένουμε το E-mail σας!">business@projectpap.gq</a></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
						<div class="s-network__agency__item">
                                                    <div class="b-network">
                                                        <div class="location">ΕΓΓΡΑΦΗ ΣΤΟ NEWSLETTER ΜΑΣ</div>
                                                        <div class="details">
                                                            <ul>
                                                                <li>
                                                                        <!--<div class="extra">
                                                                            <p>Δευτέρα έως Παρασκευή 09:00-20:00,<br />
εκτός επίσημων αργιών.</p>

                                                                        </div>
                                                                                                                                            <span>
Τηλ:
                                                                                    <a href="tel:210 89 19 010" title="#">210 89 19 010</a>,
                                                                            Φαξ:
210 89 19 019
                                                                        </span>-->

                                                                        <span><!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://projectpap.us14.list-manage.com/subscribe/post?u=5d41cae67de92ff563d49259d&amp;id=cd4049f478" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
<div class="mc-field-group">
	<!--<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>-->
	<input type="email" value="" placeholder="Το email σας" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5d41cae67de92ff563d49259d_cd4049f478" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Εγγραφή" name="subscribe" id="mc-embedded-subscribe" class="btn btn--height-small v-btn v-btn--contained theme--light v-size--default">
                <p class="brandingLogo"><!--<a href="http://eepurl.com/hYwPZ1" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a>--></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup--></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </v-app>
    </div>
</main>



    <!-- Newsletter -->


<!--<section>
    <div class="s-newsletter">

        <div class="page-container">

            <div class="page-inner">

                <div id="v-newsletter"
                     class="v-app"
                     v-bind:class="{'is-mounted': isMounted}"
                     data-toggle-speed="3000">

                    <v-app>

                        <div class="s-newsletter__body">

                            <div class="s-newsletter__aside">
                                <div class="title">
                                    Εγγραφή στο Νewsletter
                                </div>
                                <div class="summary"></div>
                            </div>

                            <div class="s-newsletter__main">

                                <div class="s-newsletter__form">-->

                                    <!--<v-alert type="error"
                                             dense
                                             border="left"
                                             colored-border
                                             elevation="2"
                                             v-if="errorMsgs.length && toggleView"
                                             v-bind:class="{'is-minimal-view': toggleView}">
                                        {{errorMsgs[0]}}
                                    </v-alert>

                                    <v-alert type="success"
                                             dense
                                             border="left"
                                             colored-border
                                             elevation="2"
                                             v-if="successMsgs.length && toggleView"
                                             v-bind:class="{'is-minimal-view': toggleView}">
                                        {{successMsgs[0]}}
                                    </v-alert>

                                    <v-form ref="form"
                                            v-model="formValid"
                                            @submit.prevent="submitForm($event)"
                                            novalidate
                                            action="/el-gr/newsletter"
                                            v-bind:class="{'is-minimal-view': toggleView}">

                                        <div class="s-newsletter__form__row">

                                            <div class="s-newsletter__form__cell">-->
                                                <!--email-->
                                                <!--<div class="form-group required-field">
                                                    <v-text-field placeholder="Το email σας"
                                                                  class="form-control"
                                                                  id="Email"
                                                                  ref="Email"
                                                                  name="Email"
                                                                  type="'Email'"
                                                                  v-model="values.Email"
                                                                  v-bind:rules="rules.Email"
                                                                  v-bind:error-messages="msgs.Email"
                                                                  validate-on-blur
                                                                  @focus="clearInputMsg('Email')"
                                                                  autocomplete="off"
                                                                  required></v-text-field>
                                                </div>
                                            </div>

                                            <div class="s-newsletter__form__cell">-->
                                                <!--submit-->
                                                <!--<div class="s-newsletter__submitBtn">

                                                    <v-btn type="submit"
                                                           class="btn btn--height-small"
                                                           :loading="isLoading">
                                                        <span>Εγγραφή</span>
                                                    </v-btn>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="s-newsletter__form__row">

                                            <div class="s-newsletter__form__cell">-->
                                                <!--terms-->
                                                <!--<v-checkbox id="AgreeTerms"
                                                            class="terms-checkbox-label"
                                                            v-model="values.AgreeTerms"
                                                            v-bind:rules="rules.AgreeTerms"
                                                            v-bind:error-messages="msgs.AgreeTerms"
                                                            @change="clearInputMsg('AgreeTerms')">
                                                    <template v-slot:label>
                                                        <p>Επιβεβαιώνω ότι είμαι άνω των 16 ετών.</p>

<p>Με την εγγραφή σας στο newsletter, η Hellenic Seaways θα χρησιμοποιεί το email σας για να σας στέλνει τα εταιρικά νέα της, πληροφορίες σχετικά με παρεχόμενες υπηρεσίες και ειδικές προσφορές. Επιπλέον, θα ενημερώνεστε για υπηρεσίες και προσφορές που αφορούν δρομολόγια τα οποία μπορεί να εκτελούνται και από τις συνεργαζόμενες εταιρείες του ομίλου Attica Group, Blue Star Ferries και Superfast Ferries.</p>

<p>Σας ενημερώνουμε ότι έχετε δικαίωμα να ανακαλέσετε τη συγκατάθεσή σας, είτε χρησιμοποιώντας τις επιλογές απεγγραφής, ακολουθώντας τον αντίστοιχο σύνδεσμο (link), που υπάρχει στις ηλεκτρονικές μας επικοινωνίες ή αποστέλλοντας email στην ηλεκτρονική διεύθυνση <a href="mailto:dpo@attica-group.com">dpo@attica-group.com</a>.</p>

<p>Περισσότερες πληροφορίες σχετικά με την επεξεργασία των Προσωπικών σας Δεδομένων μπορείτε να βρείτε εδώ: <a href="/el-gr/gdpr-prosopika-dedomena" target="_blank">GDPR &ndash; Προσωπικά Δεδομένα</a>.</p>

                                                    </template>
                                                </v-checkbox>
                                                <input type="hidden" v-model="values.AgreeTerms" name="AgreeTerms" />
                                            </div>
                                        </div>
                                    </v-form>-->

                                <!--</div>
                            </div>
                        </div>
                    </v-app>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!--<script>

    var newsletterDictionary = {
        emailRequired: 'Το email είναι υποχρεωτικό',
        emailRegex: 'Το email δεν είναι έγκυρο',
        agreeTermsRequired: 'Θα πρέπει πρώτα να δώσετε τη συγκατάθεσή σας.',
    }

</script>-->


    <!-- Footer -->

	<footer class="s-footer">
		<div class="s-footer__top">
			<div class="page-container">
				<div class="s-footer__body">
					<div class="s-footer__aside">
						<img alt="Project PAP" src="../img/logo/Project_PAP_logo.png" />
					</div>
					<div class="s-footer__main">
						<div class="s-footer__contact">
							<ul>
								<!--<li>
									<div class="heading">ΤΗΛΕΦΩΝΟ ΚΡΑΤΗΣΕΩΝ</div>
									<div>
										<a href="tel:+30 210 89 19 800" title="#">+30 210 89 19 800</a>
									</div>
								</li>-->
								<li>
									<div class="heading">EMAIL</div>
									<div>
										<a href="mailto:business@projectpap.gq" title="#">business@projectpap.gq</a>
									</div>
								</li>
							</ul>
						</div>

						<div class="s-footer__menu">

								<div class="s-footer__menu__col">
										<div class="heading">ΕΠΙΣΚΕΦΤΕΙΤΕ ΕΠΙΣΗΣ</div>

										<ul>
												<!--<li>
													<a href="http://www.attica-group.com" alt="Attica Group" target="_blank">Attica Group</a>
												</li>
												<li>
													<a href="https://www.superfast.com/adriatiki/el/" alt="Superfast Ferries (Ελλάδα - Ιταλία)" target="_blank">Superfast Ferries (Ελλάδα - Ιταλία)</a>
												</li>
												<li>
													<a href="https://www.attica-group.com/el/%ce%b5%cf%84%ce%b1%ce%b9%cf%81%ce%b9%ce%ba%ce%b7-%cf%85%cf%80%ce%b5%cf%85%ce%b8%cf%85%ce%bd%ce%bf%cf%84%ce%b7%cf%84%ce%b1/upeuthinotita.html" alt="Εταιρική Υπευθυνότητα" target="_blank">Εταιρική Υπευθυνότητα</a>
												</li>
												<li>
													<a href="/HellenicSeaways/media/Root/Files/entypo_RECYCLE_Attica_FIN.pdf" alt="Attica Group - Εγχειρίδιο Ανακύκλωσης" target="_blank">Attica Group - Εγχειρίδιο Ανακύκλωσης</a>
												</li>
												<li>
													<a href="https://www.seasmiles.com/el/" alt="Seasmiles" target="_blank">Seasmiles</a>
												</li>
												<li>
													<a href="/el-gr/112-evropaikos-arithmos-epeigousas-anagkis" alt="Επείγουσα ανάγκη 112">Επείγουσα ανάγκη 112</a>
												</li>
												<li>
													<a href="https://www.booking.com/index.el.html?aid=1648997" alt="Booking.com" target="_blank">Booking.com</a>
												</li>-->
																					</ul>
								</div>
								<div class="s-footer__menu__col">
										<div class="heading">ΓΡΗΓΟΡΗ ΠΡΟΣΒΑΣΗ</div>

										<ul>
												<li>
													<a href="https://news.projectpap.gq" alt="Νέα &amp; Ανακοινώσεις">Νέα &amp; Ανακοινώσεις</a>
												</li>
												<li>
													<a href="/odontotos" alt="Οδοντωτός">Οδοντωτός</a>
												</li>
												<li>
													<a href="/busride" alt="Βόλτα με λεωφορεία">Βόλτα με λεωφορεία</a>
												</li>
												<li>
													<a href="/ships" alt="Πλοία">Πλοία</a>
												</li>
												<li>
													<a href="/gaming" alt="Βίντεο από Video Games">Βίντεο από Video Games</a>
												</li>
																					</ul>
								</div>
								<div class="s-footer__menu__col">
										<div class="heading">ΒΡΕΙΤΕ ΜΑΣ</div>

										<ul>
												<li>
													<a href="/contact" alt="Επικοινωνία">Επικοινωνία</a>
												</li>
																							<li>
													<div class="s-footer__social">
														<ul>
																<li><a class="icon-facebook" href="https://www.facebook.com/projectpapofficial" title="Facebook" target="_blank"></a></li>
																															<li><a class="icon-instagram" href="https://www.instagram.com/projectpapofficial/" title="Instagram" target="_blank"></a></li>
																															<li><a class="icon-youtube" href="https://www.youtube.com/channel/UCCpJGuyPsXJDoYTtH2PQR9g" title="Youtube" target="_blank"></a></li>
														</ul>
													</div>
												</li>
										</ul>
								</div>
								<div class="s-footer__menu__col">

										<ul class="devices-expanded">
												<li>
													<a href="/#" alt="Πολιτική απορρήτου (Προσωρινά μη διαθέσιμο)">Πολιτική απορρήτου (Προσωρινά μη διαθέσιμο)</a>
												</li>
												<!--<li>
													<a href="/el-gr/enimerosi-gia-cctv" alt="Ενημέρωση για CCTV">Ενημέρωση για CCTV</a>
												</li>
												<li>
													<a href="/el-gr/politiki-cookies" alt="Πολιτική Cookies">Πολιτική Cookies</a>
												</li>
												<li>
													<a href="/el-gr/sitemap" alt="Sitemap">Sitemap</a>
												</li>-->
																					</ul>
								</div>

							<div class="s-footer__menu__col">
								<!--<div class="s-footer__group-logos">
										<nav>
											<ul>
													<li>
														<a href="https://www.attica-group.com" target="_blank">
															<img alt="ATTICA GROUP" src="/HellenicSeaways/media/Root/Settings/Group/atticaGroup.svg" />
														</a>
													</li>
													<li>
														<a href="https://www.superfast.com/adriatiki/el/" target="_blank">
															<img alt="SUPERFAST FERRIES" src="/HellenicSeaways/media/Root/Settings/Group/superfast.svg" />
														</a>
													</li>
													<li>
														<a href="https://www.bluestarferries.com/el/" target="_blank">
															<img alt="BLUE STAR FERRIES" src="/HellenicSeaways/media/Root/Settings/Group/bluestar.svg" />
														</a>
													</li>
													<li>
														<a href="https://hellenicseaways.gr" target="_blank">
															<img alt="HELLENIC SEAWAYS" src="/HellenicSeaways/media/Root/Settings/Group/hellenic.svg" />
														</a>
													</li>
													<li>
														<a href="https://www.aml.ma/en/" target="_blank">
															<img alt="AFRICA MOROCCO LINK" src="/HellenicSeaways/media/Root/Settings/Group/aml.svg" />
														</a>
													</li>
											</ul>
										</nav>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

			<!--<div class="s-footer__partners">

				<div class="page-container">

					<div class="s-partners">

						<div class="s-partners__body">

							<div class="s-partners__items">

									<div class="s-partners__item">
										<div class="image-container">
											<a href="/HellenicSeaways/media/Root/Files/ISO27001_UKAS_SystemCertificate_ISMS_2020-01_150320.pdf" target="_blank">
												<img alt="custom.hsw.ISO" src="/HellenicSeaways/media/Root/Images/iso.png" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a>
												<img alt="Attica Group - We do Local" src="/HellenicSeaways/media/Root/Settings/Partners/local.png" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a href="http://www.maritimehellas.org/el/" target="_blank">
												<img alt="Attica Group - Maritime Hellas" src="/HellenicSeaways/media/Root/Settings/Partners/partners-maritime.jpg" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a href="https://metaforikoisodynamo.gr/" target="_blank">
												<img alt="Hellenic Seaways - Μεταφορικό Ισοδύναμο" src="/HellenicSeaways/media/Root/Settings/Partners/isodynamo.png" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a href="/HellenicSeaways/media/Root/Files/211216_PCI-Certificate_Attica-Group.pdf" target="_blank">
												<img alt="ATTICA GROUP - PCI DSS Compliant" src="/HellenicSeaways/media/Root/Settings/Partners/pci_logo.png" />
											</a>
										</div>
									</div>

							</div>

						</div>
					</div>
				</div>

			</div>-->

		<div class="s-footer__btm">
			<div class="page-container">
				<div class="s-footer__bottom">
					<div class="s-footer__copyright">
						<div class="copyright">
							<p>&copy;: 2012 - 2022 Project PAP</p>
						</div>
						<!--<div class="linakis">
							<div class="e-by-linakis">
								<p>Website designed & developed by</p>
								<a href="https://linakis.com" title="Linakis.digital" target="_blank">
									<img src="/imgs/logos/LinakisLogo.svg" alt="Linakis.digital" />
								</a>
							</div>
						</div>-->
					</div>
					<!--<div class="s-footer__providers">
                        <ul>
                            <li>
                                <img src="/imgs/s-providers/Visa.png" alt="" />
                            </li>
                            <li>
                                <img src="/imgs/s-providers/mastercard.png" alt="" />
                            </li>
                            <li>
                                <img src="/imgs/s-providers/paypal.png" alt="" />
                            </li>
                        </ul>
					</div>-->
				</div>
			</div>
		</div>
	</footer>

    <!-- Additional Assets -->
    

        <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyEWimzSLLNGRjsug3ddkwsaCaN6DVz5E&amp;libraries=places&amp;callback=api.fn.googleMapsReady&amp;language=el" type="text/javascript"></script>

        <script>
            var officesData = {
                "data":  [
  {
    "id": "1",
    "name": "PROJECT PAP",
    "address": "YouTube & Trovo Ελληνικό κανάλι",
    "lng": 37.98934,
    "lat": 23.72169
  }
]
             }

             var optionsStylesMap = {
                    "data": [
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        }
                    ]
                }
        </script>
    

    <!-- Body Assets References -->
    <script src="/js/vendors.min.js?t=126568572" type="text/javascript"></script>
    <script src="/js/main.min.js?t=126568572" type="text/javascript"></script>

    <!-- External Body Closing Scripts -->

</body>
</html>
