<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />

<title>Σχετικά με Εμάς</title>
    <meta name="description" content="Σχετικά με Εμάς" />
    <meta name="keywords" content="Σχετικά με Εμάς" />
    <link rel="canonical" href="https://www.projectpap.gq/aboutus" />

    <link href="https://www.projectpap.gq/aboutus" rel="alternate" hreflang="el-GR" />
    <link href="https://www.projectpap.gq/en-gb/aboutus" rel="alternate" hreflang="en-GB" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External Head Opening Scripts -->

<meta property="og:site_name" content="Project PAP" />
<meta property="og:title" content="Σχετικά με Εμάς" />
<meta property="og:url" content="https://www.projectpap.gq/aboutus" />
    <meta property="og:image" content="https://www.projectpap.gq/Project_PAP_logo.png" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Project PAP">
<meta name="twitter:title" content="Σχετικά με Εμάς">
<meta name="twitter:url" content="https://www.projectpap.gq/aboutus">
    <meta name="twitter:image" content="https://www.projectpap.gq/Project_PAP_logo.png">

<link rel="apple-touch-icon" sizes="144x144" href="../Project_PAP_logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="../Project_PAP_logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="../Project_PAP_logo.png">
<link rel="manifest" href="/imgs/favicons/hellenic/site.webmanifest">
<link rel="mask-icon" href="/imgs/favicons/hellenic/safari-pinned-tab.svg" color="#0D0F41">
<meta name="msapplication-TileColor" content="#0D0F41">
<meta name="theme-color" content="#0D0F41">


    <!-- Head Assets References -->
    <link href="/css/upfold.min.css?t=126568571" rel="stylesheet" type="text/css" />
    <link href="/css/main.min.css?t=126568571" rel="stylesheet" type="text/css" />
    <link href="/css/vendors.min.css?t=126568571" rel="stylesheet" type="text/css" />
    <link href="/fonts/icons/styles.css?t=126568571" rel="stylesheet" type="text/css" />

    <script>var jsCallbacks = []; function docReady(callback) { jsCallbacks.push(callback); }</script>

    <!-- External Head Closing Scripts -->

</head>
<body data-app="true" data-theme="hellenic" class="theme-hellenic">
    <!-- External Body Opening Scripts -->    

    <!-- Header -->


	<div class="s-alert-wrap">
			<div class="s-alert s-alert--important">
				<div class="page-container">
					<div class="s-alert__main">
						<div class="txt">
							<p>Αυτός ο ιστότοπος βρίσκεται υπό κατασκευή!</p>

						</div>
					</div>
				</div>
			</div>
			</div>

<header class="header">
	<div class="page-container">
		<div class="header__cont">
			<div class="header__row">
				<div class="header__col header__col--logo">
					<div class="header__logo">
						<a href="/">
							<img alt="Project PAP" src="../img/logo/Project_PAP_logo.png" />
						</a>
					</div>
				</div>
				<div class="header__col header__col--nav">
					<nav class="header__nav">
							<ul class="header__nav__list">

									<li class="header__nav__list__item header__submenu-col">
										<a href="javascript:void(0)" class="header__submenu-link" id="submenu-link-1047">Project PAP</a>
											<div class="header__submenu" aria-labelledby="submenu-link-1047">
												<ul class="header__submenu__cont">
														<li>
															<a href="/">Αρχική</a>
														</li>
														<li>
															<a href="/aboutus">Σχετικά με Εμάς</a>
														</li>
												</ul>
											</div>
									</li>
									<li class="header__nav__list__item header__submenu-col">
										<a href="javascript:void(0)" class="header__submenu-link" id="submenu-link-1051">Περιεχόμενο</a>
											<div class="header__submenu" aria-labelledby="submenu-link-1051">
												<ul class="header__submenu__cont">
														<li>
															<a href="/odontotos">Οδοντωτός</a>
														</li>
														<li>
															<a href="/busride">Βόλτα με λεωφορεία</a>
														</li>
														<li>
															<a href="/ships">Πλοία</a>
														</li>
														<li>
															<a href="/gaming">Βίντεο από Video Games</a>
														</li>
												</ul>
											</div>
									</li>
									<li class="header__nav__list__item header__submenu-col">
										<a href="javascript:void(0)" class="header__submenu-link" id="submenu-link-1054">Social Wall</a>
											<div class="header__submenu" aria-labelledby="submenu-link-1054">
												<ul class="header__submenu__cont">
														<li>
															<a href="/facebook">Ενσωματώσεις από Facebook</a>
														</li>
														<li>
															<a href="/instagram">Ενσωματώσεις από Instagram</a>
														</li>
														<li>
															<a href="/twitter">Ενσωματώσεις από Twitter</a>
														</li>
												</ul>
											</div>
									</li>
							</ul>
					</nav>
				</div>

				<div class="header__col header__col--burger">
					<a href="javascript:void(0)" class="header__burger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>

				<div class="header__col header__col--tools">
                    <div class="header__tools">
                        <div class="header__tools__item header__tools__item--mini-menu header__submenu-col">
                            <a href="javascript:void(0)" class="header__tools__mini-menu-link header__submenu-link" id="submenu-link-mini-menu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <!--<div class="header__submenu" aria-labelledby="submenu-link-mini-menu">
                                <ul class="header__submenu__cont">
                                        <li>
                                            <a href="/el-gr/seasmiles">seasmiles</a>
                                        </li>
                                                                            <li>
                                            <a href="tel:+30 210 89 19 800">+30 210 89 19 800</a>
                                        </li>
                                                                            <li>
                                            <a href="/el-gr/retrieve-booking">Εύρεση Κράτησης</a>
                                        </li>
                                                                            <li class="d-lg-none">
                                            <a href="https://eticket.attica-group.com/?lang=el" target="_blank">Web Check-in </a>
                                        </li>
                                </ul>
                            </div>-->
                        </div>
                            <!--<div class="header__tools__item header__tools__item--seasmiles">
                                <a href="/el-gr/seasmiles">seasmiles</a>
                            </div>-->
                                                    <div class="header__tools__item header__tools__item--phone">
                                <a href="/contact" title="Επικοινωνία" class="header__tools__icon header__tools__phone tooltip"></a>
                            </div>
                                                    <!--<div class="header__tools__item header__tools__item--search">
                                <a href="javascript:void(0)" title="Αναζήτηση" class="header__tools__icon header__tools__search tooltip"></a>
                            </div>
                                                    <div class="header__tools__item header__tools__item--reservations">
                                <a href="/el-gr/retrieve-booking" title="Εύρεση Κράτησης" class="header__tools__icon header__tools__reservations tooltip"></a>
                            </div>
                                                    <div class="header__tools__item d-none d-md-none d-lg-block">
                                <a href="https://eticket.attica-group.com/?lang=el" class="btn btn--ghost btn--white" target="_blank">
                                    <span>Web Check-in </span>
                                </a>
                            </div>-->

                        <div class="header__tools__item">
                            <a href="/live" class="btn btn--ghost btn--white go-to-booking-href" data-offset-y="100">
                                <span>Live</span>
                            </a>
                        </div>
                    </div>
				</div>
				<div class="header__col header__col--lang">
					<div class="header__lang header__submenu-col">
									<!--<a href="/en-gb/aboutus" title="English Language" id="submenu-link-lang">EN</a>-->
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- SEARCH:START -->
		<!--<div class="header__search">
			<div class="page-container">
				<div class="header__search__cont">
					<form class="header__search__form f-search-box" data-searchurl="/el-gr/search-results">
						<label for="site-search">ΑΝΑΖΗΤΗΣΗ</label>
						<div class="form-control input-stripped">
							<input type="text" id="site-search" placeholder="Πληκτρολογήστε εδώ" maxlength="50" />
							<button type="submit"></button>
						</div>
					</form>
					<a href="javascript:void(0)" class="header__search__close"></a>
				</div>
			</div>
		</div>-->
		<!-- SEARCH:END -->

	<!-- MOBILE MENU: START -->
	<div class="header__mob-menu">
		<div class="header__mob-menu__ins">
			<nav class="header__mob-menu__nav">
					<div class="header__mob-menu__cont">
							<div class="header__mob-menu__nav__item">
								<div class="header__mob-menu__nav__item__head">
									<span>Project PAP</span>
								</div>
									<div class="header__mob-menu__nav__item__body">
										<ul class="header__mob-menu__nav__item__submenu">
												<li>
													<a href="/">Αρχική</a>
												</li>
												<li>
													<a href="/aboutus">Σχετικά με Εμάς</a>
												</li>
										</ul>
									</div>
							</div>
							<div class="header__mob-menu__nav__item">
								<div class="header__mob-menu__nav__item__head">
									<span>Περιεχόμενο</span>
								</div>
									<div class="header__mob-menu__nav__item__body">
										<ul class="header__mob-menu__nav__item__submenu">
												<li>
													<a href="/odontotos">Οδοντωτός</a>
												</li>
												<li>
													<a href="/busride">Βόλτα με λεωφορεία</a>
												</li>
												<li>
													<a href="/ships">Πλοία</a>
												</li>
												<li>
													<a href="/gaming">Βίντεο από Video Games</a>
												</li>
										</ul>
									</div>
							</div>
							<div class="header__mob-menu__nav__item">
								<div class="header__mob-menu__nav__item__head">
									<span>Social Wall</span>
								</div>
									<div class="header__mob-menu__nav__item__body">
										<ul class="header__mob-menu__nav__item__submenu">
												<li>
													<a href="/facebook">Ενσωματώσεις από Facebook</a>
												</li>
												<li>
													<a href="/instagram">Ενσωματώσεις από Instagram</a>
												</li>
												<li>
													<a href="/twitter">Ενσωματώσεις από Twitter</a>
												</li>
										</ul>
									</div>
							</div>
					</div>
			</nav>
				<!--<div class="header__mob-menu__phone">
					<div class="header__mob-menu__cont header__mob-menu__phone__cont">
						<div>
							Καλέστε μας στο <a href="tel:+30 210 89 19 800">+30 210 89 19 800</a>
						</div>
					</div>
				</div>-->

			<div class="header__mob-menu__extras">
				<div class="header__mob-menu__cont header__mob-menu__extras__cont">
						<nav class="header__mob-menu__extras__links">
								<!--<div class="header__mob-menu__extras__links__item">
									<a href="/el-gr/seasmiles">seasmiles</a>
								</div>
															<div class="header__mob-menu__extras__links__item">
									<a href="/el-gr/retrieve-booking">Εύρεση Κράτησης</a>
								</div>-->
						</nav>
											<!--<div class="header__mob-menu__extras__checkin">
							<a href="/contact"
							   class="btn btn--ghost btn--white"
							   target="_blank">
								<span>
									Επικοινωνία 
								</span>
							</a>
						</div>-->

						<!--<div class="header__mob-menu__extras__search">
							<form class="f-search-box" data-searchurl="/el-gr/search-results">
								<div class="form-control">
									<input type="text" placeholder="Αναζήτηση" maxlength="50" />
									<button type="submit"></button>
								</div>
							</form>
						</div>-->
				</div>
			</div>
		</div>
	</div>
	<!-- MOBILE MENU: END -->

</header>

    <!-- Main -->
    


    <section class="s-strip s-hero medium theme-dark-light">
        <div class="page-outter">
            <div class="s-hero__body">
                <div class="s-hero__items">
                        <!-- item -->
                        <div class="s-hero__item">
                            <div class="b-hero">
                                    <div class="b-hero__photo resp-background"
                                         data-src0="../img/banner/Project_PAP_Banner.jpg"
                                         data-src768="../img/banner/Project_PAP_Banner.jpg">
                                    </div>

                                <div class="b-hero__capture">
                                    <div class="page-container">
                                            <h2 class="heading">
Κατάργηση Market                                            </h2>
                                                                                    <div class="summary d-none d-lg-block">
                                                <p>Καταργήσαμε το Market μας</p>

                                            </div>
                                            <div class="summary d-block d-lg-none">
                                                <p>Διαβάστε περισσότερα πατώντας το παρακάτω κουμπί!</p>

                                            </div>
                                                                                    <div class="btns">
                                                <a class="btn btn--white btn--devices-inline" href="http://news.projectpap.gq/2022/02/remove-market.html" title="Διαβάστε περισσότερα"><span>Μάθετε περισσότερα</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item -->
                        <div class="s-hero__item">
                            <div class="b-hero">
                                    <div class="b-hero__photo resp-background"
                                         data-src0="../img/banner/Project_PAP_Banner.jpg"
                                         data-src768="../img/banner/Project_PAP_Banner.jpg">
                                    </div>

                                <div class="b-hero__capture">
                                    <div class="page-container">
                                            <h2 class="heading">
Νέα εποχή για                                                        <br />
το Project PAP                                            </h2>
                                                                                    <div class="summary d-none d-lg-block">
                                                <p>Διαβάστε αυτό το άρθρο<br />
Πατώντας το παρακάτω κουμπί!</p>

                                            </div>
                                            <div class="summary d-block d-lg-none">
                                                <p>Διαβάστε περισσότερα<br />
πατώντας παρακάτω!</p>

                                            </div>
                                                                                    <div class="btns">
                                                <a class="btn btn--white btn--devices-inline" href="http://news.projectpap.gq/2021/10/nea-epoxi-gia-to-project-pap-app.html" title="Περισσότερα"><span>Διαβάστε Περισσότερα</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- item -->
                        <!--<div class="s-hero__item">
                            <div class="b-hero">
                                    <div class="b-hero__photo resp-background"
                                         data-src0="/HellenicSeaways/media/Root/Offers/HSW_Sliders_2020__20-SpecialEcon-992x370px.jpg"
                                         data-src768="/HellenicSeaways/media/Root/Offers/HSW_Sliders_2020__20-SpecialEcon-1920x720px.jpg">
                                    </div>

                                <div class="b-hero__capture">
                                    <div class="page-container">
                                            <h2 class="heading">
20% έκπτωση στην Οικονομική θέση,                                                        <br />
Special Οικονομική!                                            </h2>
                                                                                    <div class="summary d-none d-lg-block">
                                                <p>Κυκλάδες, Δωδεκάνησα &amp; Β. Αιγαίo</p>

                                            </div>
                                            <div class="summary d-block d-lg-none">
                                                <p>Κυκλάδες, Δωδεκάνησα &amp; Β. Αιγαίo</p>

                                            </div>
                                                                                    <div class="btns">
                                                <a class="btn btn--white btn--devices-inline" href="/el-gr/prosfores-ekptoseis/special-economy-20" title="Περισσότερα"><span>Περισσότερα</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!-- item -->
                        <!--<div class="s-hero__item">
                            <div class="b-hero">
                                    <div class="b-hero__photo resp-background"
                                         data-src0="/HellenicSeaways/media/Root/SEASMILESBIO/HSW_Website_Offers_2020_Slider-40-%cf%83%cf%84%ce%b1-%ce%99%ce%a7-%ce%bc%ce%b5-Seasmiles-1185x600px-bio-copy.jpg"
                                         data-src768="/HellenicSeaways/media/Root/SEASMILESBIO/HSW_Website_Offers_2020_Slider-40-%cf%83%cf%84%ce%b1-%ce%99%ce%a7-%ce%bc%ce%b5-Seasmiles-1185x600px-bio-copy.jpg">
                                    </div>

                                <div class="b-hero__capture">
                                    <div class="page-container">
                                            <h2 class="heading">
40% έκπτωση στα ΙΧ,                                                        <br />
με κάρτα Seasmiles!                                            </h2>
                                                                                    <div class="summary d-none d-lg-block">
                                                <p>Δωδεκάνησα &amp; Β. Αιγαίο</p>

                                            </div>
                                            <div class="summary d-block d-lg-none">
                                                <p>Δωδεκάνησα &amp; Β. Αιγαίο</p>

                                            </div>
                                                                                    <div class="btns">
                                                <a class="btn btn--white btn--devices-inline" href="/el-gr/prosfores-ekptoseis/40-ekptosi-sta-ich-me-karta-seasmiles" title="Περισσότερα"><span>Περισσότερα</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!-- item -->
                        <!--<div class="s-hero__item">
                            <div class="b-hero">
                                    <div class="b-hero__photo resp-background"
                                         data-src0="/HellenicSeaways/media/Root/Offers/HSW_Sliders_2020_ixdiscount-dodeca992x370px.jpg"
                                         data-src768="/HellenicSeaways/media/Root/Offers/HSW_Sliders_2020_ixdiscount-dodeca-1920x720px.jpg">
                                    </div>

                                <div class="b-hero__capture">
                                    <div class="page-container">
                                            <h2 class="heading">
20% Έκπτωση Επιστροφής,                                                        <br />
στα εισιτήρια των ΙΧ!                                            </h2>
                                                                                    <div class="summary d-none d-lg-block">
                                                <p>Δωδεκάνησα</p>

                                            </div>
                                            <div class="summary d-block d-lg-none">
                                                <p>Δωδεκάνησα</p>

                                            </div>
                                                                                    <div class="btns">
                                                <a class="btn btn--white btn--devices-inline" href="/el-gr/prosfores-ekptoseis/20-ekptosi-epistrofis-sta-eisitiria-ton-ich" title="Περισσότερα"><span>Περισσότερα</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!-- item -->
                        <!--<div class="s-hero__item">
                            <div class="b-hero">
                                    <div class="b-hero__photo resp-background"
                                         data-src0="/HellenicSeaways/media/Root/Offers/HSW_Sliders_2020_discounts-992x370px.jpg"
                                         data-src768="/HellenicSeaways/media/Root/Offers/HSW_Sliders_2020_discounts-1920x720px.jpg">
                                    </div>

                                <div class="b-hero__capture">
                                    <div class="page-container">
                                            <h2 class="heading">
Εκπτώσεις για Κυκλάδες, Δωδεκάνησα, Β. Αιγαίο,                                                        <br />
Σποράδες &amp; Σαρωνικό!                                            </h2>
                                                                                    <div class="summary d-none d-lg-block">
                                                <p>Παιδιά, Φοιτητές, Πολύτεκνοι κ.α.</p>

                                            </div>
                                            <div class="summary d-block d-lg-none">
                                                <p>Παιδιά, Φοιτητές, Πολύτεκνοι κ.α.</p>

                                            </div>
                                                                                    <div class="btns">
                                                <a class="btn btn--white btn--devices-inline" href="/el-gr/prosfores-ekptoseis/ekptoseis-gia-kyklades-dodekanisa-v-aigaio-sporades-saroniko" title="Περισσότερα"><span>Περισσότερα</span></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                </div>
            </div>
        </div>
    </section>

<script>
    
    var videos = document.querySelectorAll('video');

	function setVideosPoster() {
		for (var e = 0; e < videos.length; e++) {
			var poster = videos[e].getAttribute("poster")
			videos[e].removeAttribute("poster")
			if (poster !== null) {
				videos[e].parentElement.style.backgroundImage = 'url(' + poster + ')'
			}
		}
    }

    setVideosPoster();

	var imgResp = document.querySelectorAll('.resp-background');

    function setImgsResp() {
        for (var e = 0; e < imgResp.length; e++) {

            768 <= document.body.clientWidth
                ? imgResp[e].style.backgroundImage = 'url(' + imgResp[e].getAttribute("data-src768") + ')'
                : imgResp[e].style.backgroundImage = 'url(' + imgResp[e].getAttribute("data-src0") + ')'
        }
    }
    setImgsResp(), window.onresize = function (e) {
        setImgsResp()
    };
</script>

<!-- Main -->
<main>
<div class="s-strip s-breadcrumb">
    <div class="page-container">
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" title="Αρχική">Αρχική</a></li>
                            <li class="breadcrumb-item active" aria-current="Σχετικά με Εμάς">Σχετικά με Εμάς</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
	<div id="v-offers-index"
		 class="v-app"
		 v-bind:class="{'is-mounted': isMounted, 'is-loading': isLoading}"
		 data-offershandler="/el-gr/prosfores-ekptoseis"
		 data-itemsperpage="12"
		 data-timeout="0">

		<v-app>

			<!-- overlay -->
			<v-overlay :value="isLoading" color="rgba(0,0,0,0)">
				<v-progress-logo size="48"></v-progress-logo>
			</v-overlay>

			<!-- server error -->
			<!--<v-dialog v-model="errorDialog"
					  width="500"
					  overlay-color="#00529C"
					  overlay-opacity="0.2">
				<template>
					<div class="b-booking-dialog-warning">

						<div class="b-booking-dialog-warning__body">
							<div class="icon-error-popup"></div>
							<div class="article">
								<ul>
									<li v-for="(error,index) in errorMsgs"
										:key="index">
										<span>{{error}}</span>
									</li>
								</ul>
								<span v-if="!errorMsgs.length">Η υπηρεσία δεν είναι προσωρινά διαθέσιμη. Παρακαλώ προσπαθήστε αργότερα.</span>
							</div>
						</div>
						<div class="b-booking-dialog-warning__footer">
							<ul>
								<li>
									<v-btn type="button"
										   class="btn"
										   @click="errorDialog = false">
										Κλείσιμο
									</v-btn>
								</li>
							</ul>
						</div>

					</div>

				</template>
			</v-dialog>-->

			<template>

				<div class="s-strip s-offers-index">
					<div class="e-decoration-4"></div>
					<div class="page-container">
						<div class="s-offers-index__body">
							<div class="s-offers-index__aside">
								<!-- heading -->
								<div class="s-offers-index__aside__heading">
									<h1 class="heading">Σχετικά με Εμάς</h1>
								</div>
							</div>

                            <div class="s-offers-index__main">

                                <!--<div class="s-offers-index__items" v-if="hasData">
                                    <div class="s-offers-index__item" v-for="(offer,index) in offersData" :key="offer.id">
                                        <div class="b-offer" v-bind:class="{'inactive': !offer.isActive}">
                                            <a v-bind:href="offer.url" v-bind:title="offer.title">
                                                <div class="b-offer__photo">
                                                    <div class="photo-container" v-bind:style="{ 'background-image': 'url(' + offer.imageUrl + ')' }">
                                                        <img class="d-none" v-bind:src="offer.imageUrl" />
                                                    </div>
                                                </div>
                                                <div class="b-offer__capture">
                                                    <div class="e-badge inactive" v-if="!offer.isActive">
                                                        ΑΝΕΝΕΡΓΗ
                                                    </div>
                                                    <span class="title">{{ offer.title }}</span>
                                                    <span class="sub-title">{{ offer.subTitle }}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>-->

                                <!-- Pagination -->
                                <!--<div class="s-offers-index__pagination"
                                     v-if="hasData">
                                    <v-pagination v-model="page"
                                                  :length="pages"
                                                  v-if="offersData !== null"></v-pagination>

                                </div>-->
                                <!-- No results -->
                                <!--<div class="s-offers-index__no-results"
                                     v-if="!hasData">
                                    <span>Δε βρέθηκαν αποτελέσματα.</span>
                                </div>-->
				<p>Το κανάλι αυτό ξεκίνησε στις <strong><font color="#ff0000">09/04/2012</font></strong> με σκοπό να μοιράζεται μαζί σας ο ιδιοκτήτης βίντεο που έκανε edit για τους σκοπούς του μαθήματος της πληροφορικής στο γυμνάσιο!</p>
				<p>Καθώς ή ιδέα αυτή του ήρθε στο τέλος της σχολικής χρονιάς και στην τελευταία τάξη του γυμνασίου (Γ Γυμνασίου) το κανάλι δεν κατάφερε να έχει πάνω από ένα βίντεο τέτοιας κατηγορίας!</p>
				<p>Αφού λοιπόν με το τέλος της σχολικής χρονιάς ο ιδιοκτήτης το παράτησε επέστρεψε για λίγο με μια κάμερα απλού κινητού για να δει πως θα πάει το κανάλι μετά το comeback του και αφού άρχισε το πρόχειρο βίντεο να πέρνει προβολές ο ιδιοκτήτης άρχισε να ασχολείτε μετά από έναν χρόνο περίπου πιο σοβαρά με το κανάλι.</p>
				<p>Έτσι σταδιακά το πλέον συνεχώς αναπτυσόμενο αυτό κανάλι έφτασε στην σημερινή του μορφή που έχει διάφορα βίντεο που πιάνουν όλα τα ενδιαφέροντα όλων των viewers!</p><br />
				<br />
				<table border="1">
					<tr>
						<th>Social</th><th>Περιγραφή</th>
					</tr>
					<tr>
						<td><font color="#ff0000"><strong><center>YouTube</center></strong></font></td><td><center>Ο χώρος όπου έκανε τα πρώτα του δειλά βήματα το Project PAP και λειτουργεί μέχρι και σήμερα!</center></td>
					</tr>
					<tr>
						<td><font color="#6441a5"><strong><center>Twitch</center></strong></font></td><td><center>Στα πλαίσια έναρξης των Live Stream και δοκιμών πλατφόρμας για Live Stream το κανάλι απέκτησε τον δικό του λογαριασμό στο Twitch όπου σήμερα είναι εκτός ροής καθημερινά και σπάνια μεταδίδει ροές άλλων streamer!</center></td>
					</tr>
					<tr>
						<td><font color="#3b5998"><strong><center>Facebook</center></strong></font></td><td><center>Όταν ο ιδιοκτήτης είδε πως όλοι οι YouTubers & Streamers μεταφέρουν τα Live Stream τους στην πλατφόρμα του Facebook το Project PAP άρχισε να έχει και αυτό έναν χώρο στο Facebook!</center></td>
					</tr>
					<tr>
						<td><font color="#515bd4"><strong><center>Instagram</center></strong></font></td><td><center>Το Project PAP έχει τον δικό του λογαριασμό στο Instagram με σκοπό να ενημερώνει το κοινό του για κάθε εξέλιξη γύρω από αυτό!</center></td>
					</tr>
					<tr>
						<td><font color="#3cdb7d"><strong><center>Trovo</center></strong></font></td><td><center>Σήμερα το Project PAP υπάρχει και στο Trovo για να κάνει Live για όλους εσάς καθώς επίσης και για να στηρίξει άλλους streamer που κάνουν Live σε αυτή την πλατφόρμα!</center></td>
					</tr>
					<tr>
						<td><font color="#7289da"><strong><center>Discord</center></strong></font></td><td><center>Για να επικοινωνείτε όλοι εσείς μαζί μας οποιαδήποτε στιγμή της ημέρας και για να φτιάξουμε όλοι μαζί μια διαδικτυακή παρέα έχουμε και τον δικό μας Discord Server στον οποίο πρέπει να ακολουθήσετε κάποιους κανόνες για να παραμείνετε σε αυτόν!</center></td>
					</tr>
				</table>
                            </div>

						</div>

					</div>
				</div>
			</template>
		</v-app>
	</div>
</main>

    <!-- Footer -->

	<footer class="s-footer">
		<div class="s-footer__top">
			<div class="page-container">
				<div class="s-footer__body">
					<div class="s-footer__aside">
						<img alt="Project PAP" src="../img/logo/Project_PAP_logo.png" />
					</div>
					<div class="s-footer__main">
						<div class="s-footer__contact">
							<ul>
								<!--<li>
									<div class="heading">ΤΗΛΕΦΩΝΟ ΚΡΑΤΗΣΕΩΝ</div>
									<div>
										<a href="tel:+30 210 89 19 800" title="#">+30 210 89 19 800</a>
									</div>
								</li>-->
								<li>
									<div class="heading">EMAIL</div>
									<div>
										<a href="mailto:business@projectpap.gq" title="#">business@projectpap.gq</a>
									</div>
								</li>
							</ul>
						</div>

						<div class="s-footer__menu">

								<div class="s-footer__menu__col">
										<div class="heading">ΕΠΙΣΚΕΦΤΕΙΤΕ ΕΠΙΣΗΣ</div>

										<!--<ul>
												<li>
													<a href="http://www.attica-group.com" alt="Attica Group" target="_blank">Attica Group</a>
												</li>
												<li>
													<a href="https://www.superfast.com/adriatiki/el/" alt="Superfast Ferries (Ελλάδα - Ιταλία)" target="_blank">Superfast Ferries (Ελλάδα - Ιταλία)</a>
												</li>
												<li>
													<a href="https://www.attica-group.com/el/%ce%b5%cf%84%ce%b1%ce%b9%cf%81%ce%b9%ce%ba%ce%b7-%cf%85%cf%80%ce%b5%cf%85%ce%b8%cf%85%ce%bd%ce%bf%cf%84%ce%b7%cf%84%ce%b1/upeuthinotita.html" alt="Εταιρική Υπευθυνότητα" target="_blank">Εταιρική Υπευθυνότητα</a>
												</li>
												<li>
													<a href="/HellenicSeaways/media/Root/Files/entypo_RECYCLE_Attica_FIN.pdf" alt="Attica Group - Εγχειρίδιο Ανακύκλωσης" target="_blank">Attica Group - Εγχειρίδιο Ανακύκλωσης</a>
												</li>
												<li>
													<a href="https://www.seasmiles.com/el/" alt="Seasmiles" target="_blank">Seasmiles</a>
												</li>
												<li>
													<a href="/el-gr/112-evropaikos-arithmos-epeigousas-anagkis" alt="Επείγουσα ανάγκη 112">Επείγουσα ανάγκη 112</a>
												</li>
												<li>
													<a href="https://www.booking.com/index.el.html?aid=1648997" alt="Booking.com" target="_blank">Booking.com</a>
												</li>
																					</ul>-->
								</div>
								<div class="s-footer__menu__col">
										<div class="heading">ΓΡΗΓΟΡΗ ΠΡΟΣΒΑΣΗ</div>

										<ul>
												<li>
													<a href="https://news.projectpap.gq" alt="Νέα &amp; Ανακοινώσεις">Νέα &amp; Ανακοινώσεις</a>
												</li>
												<li>
													<a href="/odontotos" alt="Οδοντωτός">Οδοντωτός</a>
												</li>
												<li>
													<a href="/busride" alt="Βόλτα με λεωφορεία">Βόλτα με λεωφορεία</a>
												</li>
												<li>
													<a href="/ships" alt="Πλοία">Πλοία</a>
												</li>
												<li>
													<a href="/gaming" alt="Βίντεο από Video Games">Βίντεο από Video Games</a>
												</li>
																					</ul>
								</div>
								<div class="s-footer__menu__col">
										<div class="heading">ΒΡΕΙΤΕ ΜΑΣ</div>

										<ul>
												<li>
													<a href="/contact" alt="Επικοινωνία">Επικοινωνία</a>
												</li>
																							<li>
													<div class="s-footer__social">
														<ul>
																<li><a class="icon-facebook" href="https://www.facebook.com/projectpapofficial" title="Facebook" target="_blank"></a></li>
																															<li><a class="icon-instagram" href="https://www.instagram.com/projectpapofficial/" title="Instagram" target="_blank"></a></li>
																															<li><a class="icon-youtube" href="https://www.youtube.com/channel/UCCpJGuyPsXJDoYTtH2PQR9g" title="Youtube" target="_blank"></a></li>
														</ul>
													</div>
												</li>
										</ul>
								</div>
								<div class="s-footer__menu__col">

										<ul class="devices-expanded">
												<li>
													<a href="/#" alt="Πολιτική απορρήτου (Προσωρινά μη διαθέσιμο)">Πολιτική απορρήτου (Προσωρινά μη διαθέσιμο)</a>
												</li>
												<!--<li>
													<a href="/el-gr/enimerosi-gia-cctv" alt="Ενημέρωση για CCTV">Ενημέρωση για CCTV</a>
												</li>
												<li>
													<a href="/el-gr/politiki-cookies" alt="Πολιτική Cookies">Πολιτική Cookies</a>
												</li>
												<li>
													<a href="/el-gr/sitemap" alt="Sitemap">Sitemap</a>
												</li>-->
																					</ul>
								</div>

							<div class="s-footer__menu__col">
								<!--<div class="s-footer__group-logos">
										<nav>
											<ul>
													<li>
														<a href="https://www.attica-group.com" target="_blank">
															<img alt="ATTICA GROUP" src="/HellenicSeaways/media/Root/Settings/Group/atticaGroup.svg" />
														</a>
													</li>
													<li>
														<a href="https://www.superfast.com/adriatiki/el/" target="_blank">
															<img alt="SUPERFAST FERRIES" src="/HellenicSeaways/media/Root/Settings/Group/superfast.svg" />
														</a>
													</li>
													<li>
														<a href="https://www.bluestarferries.com/el/" target="_blank">
															<img alt="BLUE STAR FERRIES" src="/HellenicSeaways/media/Root/Settings/Group/bluestar.svg" />
														</a>
													</li>
													<li>
														<a href="https://hellenicseaways.gr" target="_blank">
															<img alt="HELLENIC SEAWAYS" src="/HellenicSeaways/media/Root/Settings/Group/hellenic.svg" />
														</a>
													</li>
													<li>
														<a href="https://www.aml.ma/en/" target="_blank">
															<img alt="AFRICA MOROCCO LINK" src="/HellenicSeaways/media/Root/Settings/Group/aml.svg" />
														</a>
													</li>
											</ul>
										</nav>
								</div>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

			<!--<div class="s-footer__partners">

				<div class="page-container">

					<div class="s-partners">

						<div class="s-partners__body">

							<div class="s-partners__items">

									<div class="s-partners__item">
										<div class="image-container">
											<a href="/HellenicSeaways/media/Root/Files/ISO27001_UKAS_SystemCertificate_ISMS_2020-01_150320.pdf" target="_blank">
												<img alt="custom.hsw.ISO" src="/HellenicSeaways/media/Root/Images/iso.png" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a>
												<img alt="Attica Group - We do Local" src="/HellenicSeaways/media/Root/Settings/Partners/local.png" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a href="http://www.maritimehellas.org/el/" target="_blank">
												<img alt="Attica Group - Maritime Hellas" src="/HellenicSeaways/media/Root/Settings/Partners/partners-maritime.jpg" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a href="https://metaforikoisodynamo.gr/" target="_blank">
												<img alt="Hellenic Seaways - Μεταφορικό Ισοδύναμο" src="/HellenicSeaways/media/Root/Settings/Partners/isodynamo.png" />
											</a>
										</div>
									</div>
									<div class="s-partners__item">
										<div class="image-container">
											<a href="/HellenicSeaways/media/Root/Files/211216_PCI-Certificate_Attica-Group.pdf" target="_blank">
												<img alt="ATTICA GROUP - PCI DSS Compliant" src="/HellenicSeaways/media/Root/Settings/Partners/pci_logo.png" />
											</a>
										</div>
									</div>

							</div>

						</div>
					</div>
				</div>

			</div>-->

		<div class="s-footer__btm">
			<div class="page-container">
				<div class="s-footer__bottom">
					<div class="s-footer__copyright">
						<div class="copyright">
							<p>&copy;: 2012 - 2022 Project PAP</p>
						</div>
						<!--<div class="linakis">
							<div class="e-by-linakis">
								<p>Website designed & developed by</p>
								<a href="https://linakis.com" title="Linakis.digital" target="_blank">
									<img src="/imgs/logos/LinakisLogo.svg" alt="Linakis.digital" />
								</a>
							</div>
						</div>-->
					</div>
					<!--<div class="s-footer__providers">
                        <ul>
                            <li>
                                <img src="/imgs/s-providers/Visa.png" alt="" />
                            </li>
                            <li>
                                <img src="/imgs/s-providers/mastercard.png" alt="" />
                            </li>
                            <li>
                                <img src="/imgs/s-providers/paypal.png" alt="" />
                            </li>
                        </ul>
					</div>-->
				</div>
			</div>
		</div>
	</footer>

    <!-- Additional Assets -->
    

    <!-- Body Assets References -->
    <script src="/js/vendors.min.js?t=126568571" type="text/javascript"></script>
    <script src="/js/main.min.js?t=126568571" type="text/javascript"></script>

    <!-- External Body Closing Scripts -->

</body>
</html>
